:root{
    --main-background: linear-gradient(rgb(0, 200, 255), rgb(0, 100, 255));
    --confirmation-color: rgb(90, 170, 120);
    --confirmation-border: 0.3rem solid var(--confirmation-color);
    --remove-color: rgb(209, 24, 24);
    --remove-border: 0.3rem solid var(--remove-color);
    --clear-text: white;
    --dark-text:black;
}

html, body {
    margin: 0px;
    padding: 0px;
    background-image: var(--main-background);
    background-attachment: fixed;
}
header h1 {
    color: var(--dark-text);
    margin: 0.5rem;
}

header{
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
}
main form{
    text-align: left;
    font-size: 0;
}
main form input{
    width: 73.9%;
    margin-left: 1.1%;
    border: var(--confirmation-border);
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
}
#url-input{
    width: 95%;
}
main form button{
    width: 20%;
    margin-left: 1.1%;
    min-width: 6.23rem;
    border: var(--confirmation-border);
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: var(--confirmation-color);
}
main h1{
    margin: 1.1%;
    color: var(--dark-text);
}

footer {
    background-color: rgb(0, 100, 255);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: var(--clear-text);
}

#albun-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.albun-cover {
    position: relative;
    margin: 0.3rem;
    border: 0.2rem solid transparent;
    font-size: 0;
}
.albun-cover:hover{
    border: 0.2rem solid white;
    cursor: pointer;
}
.albun-cover img{
    height: 11rem;
    width: 15rem;
    object-fit: cover;
}
.albun-cover p{
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    font-size: 0.75rem;
    bottom: 0px;
    left: 0px;
    margin: 0rem;
    padding: 0.3rem;
    border-top-right-radius: 0.5rem;
}

.img-thumbnail {
    position: relative;
    margin: 0.3rem;
    border: 0.2rem solid transparent;
    font-size: 0;
}
.img-thumbnail:hover{
    border: 0.2rem solid white;
    cursor: pointer;
}
.img-thumbnail img{
    height: 11rem;
    width: 15rem;
    object-fit: cover;
}

#img-window {
    font-size: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    object-fit: cover;
    height: 100%;
}
#img-window img{
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
}
#previous-btn{
    cursor: pointer;
    color: inherit;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 10%;
    height: 100%;
    transform: scaleX(-1);
}
#next-btn{
    cursor: pointer;
    color: inherit;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 10%;
    height: 100%;
}
#remove-btn{
    width: 10%;
    margin-left: 1.1%;
    min-width: 10rem;
    border: var(--remove-border);
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: var(--remove-color);

}

.arrow-img {
    color: inherit;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.invisible {
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
    font-size: 0 !important;
}

@media screen and (max-width: 510px) {
    main form {
        width: 96.7%
    }
    main form input{
        width: 96.7%;
    }
    #url-input {
        width: 96.7%;
    }
    main form button{
        width: 100%;
    }
}